# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.IssueTracker.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mpollak\Desktop\Stuff\Repos\IssueTracker\.idea\.idea.IssueTracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
